.contact-us {
  // background-image: url(./img.png);
}

.form input {
  display: block;
}

.fa {
  padding: 8px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-linkedin {
  background: #007ab9;
  color: white;
}

//
