
.review_maintext {
	color: #1ab798;
	text-align: center;
	padding: 0 200px 0 200px;
}

.container_1 {
	text-align: center;
}

.container_1 p {
	color: #282528;
}

.container_1 img {
	align-self: center;
	border-radius: 150px;
	border: solid 5px #D3D3D3;
	size: 100px 200px;
}

.container_2 {
	text-align: center;
	padding: 50px 200px 0px 200px;
}

