
.container h2 {
	color: #1ab798;
	text-align: center;
	padding: 0 200px 0 200px;
}

.container0 {
	text-align: center;
}

.container0 p {
	color: #282528;
}

.container0 img {
	align-self: center;
	border-radius: 150px;
	border: solid 5px #D3D3D3;
	size: 100px 200px;
}

.container1 {
	text-align: center;
	padding: 50px 200px 0px 200px;
}

