%title {
  font-family: $main-font-bold;
  font-size: 18px;
  text-transform: uppercase;
}

%title::before {
  content: '';
  display: inline-block;
  background-color: #000;
  vertical-align: middle;
  width: 60px;
  height: 1px;
  margin: 12px;
}

%title::after {
  content: '';
  display: inline-block;
  background-color: #000;
  vertical-align: middle;
  width: 60px;
  height: 1px;
  margin: 12px;
}
